.mainContainer{
    height: 90%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border:solid 0.5px #dbdbdb;
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    border-radius: 1em;
    box-shadow: 5px 5px 20px rgb(200, 200, 200);
    overflow: hidden;
}

article{width: 55%; height: 95%;}
aside{width: 45%; height: 100%; background-color: red; color: white;}
article, aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.listaB{
    width: 90%;
    border-radius: .5em;
    border:solid 0.5px #dbdbdb;
    box-shadow: 5px 5px 20px rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cabecalho{
    height: 40px;
    width: 95%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista{
    display: none;
}
.lista.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    border-top: solid .5px #dbdbdb;
}
.lista li{
    height: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
Aparencia das loinhas dos livros
Eles são declarados lá no JavaScript
*/ 
.lista li button{
    width: 6em;
    height: 2em;
    background-color: rgb(255, 255, 255);
    border: solid .5px rgb(255, 0, 0);
    border-radius: .25em;
    cursor: pointer;
    transition: .3s;
    color: red;
    font-size: 14px;
}
.lista li button:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

.lista li span{
    width: 5em;
    text-align: center;
    user-select: none;
    color: red;
}