/*-----==Main==-----*/
.mainContainer{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*-----==Article==-----*/
article{
    width: 45%;
    background-color: rgb(255, 255, 255);
    align-self: flex-start;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: solid 0.2px #dbdbdb;
    border-collapse: collapse;
    border-radius: .5em;
    box-shadow: 2px 2px 10px rgb(104, 104, 104);
}
.listaB {
    margin-bottom: 5%;
}
.cabecalho{
    background-color: white;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 5px;
    -webkit-user-select: none;
    user-select: none;
    font-size: 16px;
}

.lista{
    display: none;
}
.lista.show{
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.lista li{
    height: 2em;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*-----==Aside==-----*/
aside{
    height: 100%;
    width: 45%;
    background-color: white;
    border: solid 0.2px #dbdbdb;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 2px 2px 15px rgb(104, 104, 104);
}
#regras{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: red;
}
