/*-----==MAIN==-----*/
.mainContainer{
    height: 90%;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border:solid 0.5px #dbdbdb;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    border-radius: 1em;
    box-shadow: 5px 5px 20px rgb(200, 200, 200);
    overflow: hidden;
}

/*-----==ASIDE==-----*/
aside{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(233, 0, 0);
    color: white;
    overflow: auto;
}

.horarios{
    width: 100%;
    height: 80%;
    font-size: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    color: white;
}
.horarios li{
    width: 100%;
    text-align: center;
}

/*-----==ARTICLE==-----*/
article{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*Section Almoço*/
.almoco{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.marcearia{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.conteudoContainer{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.comida{width: 55%;}
.sobremesa{width: 35%;}
.comida,
.sobremesa{
    height: 90%;
    border:solid 0.2px #dbdbdb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
}
.comida h2,
.sobremesa h2{
    width: 90%;
    height: 20%;
    text-align: center;
}
.comida span,
.sobremesa span{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

/*Section Salgados; Bebidas*/
.salgados{width: 35%;}
.bebidas{width: 55%;}
.salgados, .bebidas{
    height: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    border:solid 0.2px #dbdbdb;
}

.title{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulosalgado,
.titulobebiba{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.listaContainer{
    height: 80%;
    width: 100%;
}
.listaSalgados,
.listaBebidas{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
}
.listaSalgados li,
.listaBebidas li{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 0 1.5%;
    padding: 0 1.5%;
}

.salgadoEscolhido,
.bebidaEscolhida{
    background-color: red;
    color: white;
}
