article{
    display: flex;
    align-items: center;
    justify-content: center;
}

.avisoE, .avisoS{
    display: none;
    background-color: red;
}

fieldset{
    width: 30em;
    text-align: center;
}