/*---=Quem é DISPLAY: FLEX=---*/
.mainContainer,
.mainContainer h1,
article,
section,
.title,
.conteudo,
.cOculto,
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;}

/*-----==MAIN==-----*/
.mainContainer{
    height: 90%;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border:solid 0.5px #dbdbdb;
    justify-content:space-evenly;
    flex-wrap: wrap;
    border-radius: 1em;
    box-shadow: 5px 5px 20px rgb(200, 200, 200);
    overflow: hidden;
}
.mainContainer h1{
    height: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 48px;
}

article{
    height: 90%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
}

/*----==CARDS==-----*/
section{
    width: 25%;
    height: 80%;
    flex-wrap: wrap;
    background-color: rgb(255, 0, 0);
    border:solid 0.5px rgb(126, 126, 126);
    border-radius: 1em;
    box-shadow: 5px 5px 20px #b1b1b1;
    color: white;
    transition: .3s;
}

.voltar{
    display: none;
}

.title,
.conteudo,
.btn-container{
    
    height: 27%;
    width: 80%;
}

.title{
    font-size: 24px;
    text-align: center;
}

.conteudo{
    height: 46%;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cOculto{
    display: none;
}
.conteudo span{
    width: 100%;
    text-align: center;
}
.cCard{
    display: none;
}

button{
    width: 12em;
    height: 3.5em;
    background-color: red;
    border: solid 1px white;
    border-radius: .5em;
    transition: .3s;
    cursor: pointer;
    color: white;
}

/*-----==AÇÕES==-----*/
section:hover{
    width: 40%;
    background-color: white;
    color: black;
}
/*Se article tiver alguém com hover, só então...*/
article:has(section:hover) section:not(:hover){
    opacity: .8;
    transform: scale(0.95);
}


article:has(section:hover) .title{
    color: red;
}
article:has(section:hover) section:not(:hover) .title{
    color: white;
}


article:has(section:hover) .cOculto{
    display: flex;
}
article:has(section:hover) section:not(:hover) .cOculto{
    display: none;
}


article:has(section:hover) button{
    background-color: white;
    border: solid 1px red;
    color: red;
}
article:has(section:hover) button:hover{
    background-color: red;
    color: white;
}
article:has(section:hover) section:not(:hover) button{
    background-color: red;
    border: solid 1px white;
    color: white;
}