article {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

article h1 {
    width: 85%;
}

/*Estilização padrão dos Cards*/
section {
    width: 20%;
    height: 70%;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: white;
    border:solid 0.2px #dbdbdb;
    border-radius: 15px;
    padding: 15px;
}
h1 {
    display: flex;
    justify-content: center;
}

/*"btn" voltar - Aparece só no modo Card Completo*/
.voltar {
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
    display: none;
}

/*Título do card*/
.title {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*"Container" dos conteudos*/
.conteudo {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

/*Todos os conteudos*/
.conteudo span {
    align-self: center;
    width: 90%;
}

/*conteudo escondido*/
.cOculto {
    display: none;
}

/*Formulário*/
.formContato {
    display: none;
}

.formContato.aberto {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*estilização btn p/abrir Card Completo*/
.btn-container {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-container button {
    width: 12em;
    height: 3em;
    cursor: pointer;
}

/*Animação CSS dos efeitos hover*/
article:has(section:hover) section:not(:hover) {
    opacity: .5;
}

article:has(section:not(hover)) section:hover {
    width: 40%;
}

/*Card na tela completa, os outros fecham*/
.cardContato.aberto,
.cardObjetivos.aberto,
.cardPerguntas.aberto {
    width: 90%;
}

.cardContato.fechado,
.cardObjetivos.fechado,
.cardPerguntas.fechado {
    display: none;
}

/*Detalhes dos Objetivos*/
.detalhesObjetivos {
    display: flex;
    display: none;
    height: 70%;
    margin-left: 37%;
    color: red;
    font-size: 20px
}

.perguntas {
    display: flex;
    display: none;
    height: 70%;
    margin-left: 30%;
    margin-right: 30%;
    color: red;
    font-size: 20px
}